@page
@model db.Pages.aboutus.IndexModel
@{
}


<div class="container">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
            <div class="our-team">
                <div class="picture">
                    <img class="img-fluid" src="https://pps.whatsapp.net/v/t61.24694-24/309673679_1249595505585638_502291379108516469_n.jpg?ccb=11-4&oh=01_AdTraDUzc7LuynLbOfGJJPnxQrDUAAbSVGNY5eTAlUEOBQ&oe=63C82BD1">
                </div>
                <div class="team-content">
                    <h3 class="name">Ömercan Sabun</h3>
                    <h4 class="title">Web Developer & Student</h4>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
            <div class="our-team">
                <div class="picture">
                    <img class="img-fluid" src="https://pps.whatsapp.net/v/t61.24694-24/257124826_597374171507166_5343851122208258567_n.jpg?ccb=11-4&oh=01_AdQXWnmToG2fHj_wz46IijthFpHiwPwhrKYOzlTaPrFTBg&oe=63C8177F">
                </div>
                <div class="team-content">
                    <h3 class="name">Utku Baygüven</h3>
                    <h4 class="title">Software Developer & Student</h4>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
            <div class="our-team">
                <div class="picture">
                    <img class="img-fluid" src="https://pps.whatsapp.net/v/t61.24694-24/315779508_685981176229843_3784543835786784418_n.jpg?ccb=11-4&oh=01_AdQk6WvQUswQJphZWlpMwzLvYOGQtQjjwCZGpSEaJwVroA&oe=63C81E1A">
                </div>
                <div class="team-content">
                    <h3 class="name">Ahmetcan Başaran</h3>
                    <h4 class="title">Software Developer & Student</h4>
                </div>
            </div>
        </div>
    </div>
</div>
